<!-- CAIXINHA DE ERRO PADRÂO PARA TODOS OS ERROS -->
<% if(errors != false) { %>
<div class="row">
    <div class="col my-3">
      <div class="alert alert-danger">
        <% errors.forEach(erro => { %>
           <%= erro %><br>
        <% }); %>  
      </div>
    </div>
</div>
<% }; %>


<!-- CAIXINHA DE SUCESSO -->
<% if(success != false) { %>
  <div class="row">
      <div class="col my-3">
        <div class="alert alert-success">
          <% success.forEach(success => { %>
             <%= success %><br>
          <% }); %>  
        </div>
      </div>
  </div>
  <% }; %>